// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #602635;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: #ed732d;
  background-repeat: no-repeat;
  background-size: 251px 207px;
  background-position: center;

}

.widget-clock h2 {
  font-size: 72px;
}
