// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #1ec5ea;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: #ffb84d;
  background-repeat: no-repeat;
  background-size: 251px 207px;
  background-position: center;
  color: white;
  

}

.widget-clock h2 {
  font-size: 72px;
}
