// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #004d66;
$value-color:       black;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {
  color: grey;

.widget-number.value{
  color: white;
}

  background-color: $background-color;

  .title {
    font-weight: bolder;
    color: white;
      font-size: 32px;
  }

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: white;
  }

  .updated-at {
    color: grey(0, 0, 0, 0.3);
  }

}

.widget-number.status-error {
  background-color: #dc5945;
}

.widget-number.status-warn {
  background-color: black;
}
.widget-pull-requests strong{
  color: black;
}