.widget.widget-jenkins {
  padding: 0;
}

.widget-jenkins {
  background-image: "/jenkins.jpeg";
}

$failed-color: #dc5945;

.status-failed {
  font-size: 20pt;
  font-weight: bold;
  background-color: $failed-color;
}

.failed-building {
  background-color: lighten($failed-color, 20%);
  display: block;
}

$success-color: #96bf48;

.status-passed {
  font-size: 20pt;
  font-weight: normal;
  background-color: $success-color;
  white-space: nowrap;
}

.passed-building {
   background-color: lighten($success-color, 20%);
  display: block;
}
